<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMPMcwy9961Bsep9ggJlNYkbPj16DzdPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>972122993951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yohagos.pizza.delivery</string>
	<key>PROJECT_ID</key>
	<string>flutter-pizza-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-pizza-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972122993951:ios:6f5790d5309e0b372aac2a</string>
</dict>
</plist>